<div class="main_container">
    <div class="navigation_container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <button class="nav-link" href="#" (click)="deleteNote()">
                <span class="glyphicon glyphicon-trash"></span>delete
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link" (click)="createNote()" [disabled]="disableCreate">
                <span class="glyphicon glyphicon-pencil"></span>create
              </button>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 searchbox" type="search" placeholder="Search.." aria-label="Search">
          </form>
        </div>
      </nav>
    </div>
    <div class="notes_container">
      <div class="list_container">
          <app-listofnotes></app-listofnotes>
      </div>
      <div class="display_container">
          <app-newnotes></app-newnotes>
      </div>
    </div>
  </div>