<div>
    <div class="sampleNote">
        <h6 class="sampleHeader">title</h6>

        <div>
            <p>description</p>
        </div>
        <div>
            <p>timeStamp</p>
        </div>
    </div>
    <!-- <div class="noteList" *ngFor="let note of notesList;let index=index" (click)="setSelectedItem(index);">
        <h6 class="sampleHeader">{{note.title}}</h6>
        <div>
            <p>{{note.description}}</p>
        </div>
        <div>
            <p>{{note.timeStamp}}</p>
        </div>
    </div> -->
</div>