.sampleNote {
    overflow: auto;
    height: 9em;
    background-color: #FAEDBE;
}
.sampleHeader {
    margin: 10px 10px;
    font-style: italic;
}

.noteList {
    overflow: auto;
    /* height: 7em; */
    background-color: #DDD;
    border-bottom: 1px solid #FFF;
}